{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-default">
                    Topluluk
                    {% if community_add_authority %}
                        <a href="#" data-toggle="modal" data-target="#addModal"
                           class="btn btn-success box-shadow btn-icon btn-rounded" style="float: right;">
                            <i class="fa fa-plus"></i>
                            Yeni Kayıt
                        </a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <table class="table table-hover" id="myTable">
                        <thead>
                        <tr>
                            <th>Ad Soyad</th>
                            <th>Dönem Kodu</th>
                            <th>Devre Tarihi</th>
                            <th>İşlem</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for community in communities %}
                            <tr class="gradeX">
                                <td>{{ community.full_name }}</td>
                                <td>{{ community.period_code }}</td>
                                <td>{{ community.circuit_start }} - {{ community.circuit_finish }}</td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#islemModal{{ community.id }}"
                                       class="btn btn-warning">
                                        İşlemler
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    <nav class="paginationWrap">
                        <ul class="pagination justify-content-center">
                            {% if communities.has_previous %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ communities.previous_page_number }}">{% trans "Öncesi" %}</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1"
                                       aria-disabled="true">{% trans "Öncesi" %}</a>
                                </li>
                            {% endif %}
                            {% if communities.number|add:'-2' > 1 %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ communities.number|add:'-5' }}">&hellip;</a>
                                </li>
                            {% endif %}
                            {% for i in communities.paginator.page_range %}
                                {% if communities.number == i %}
                                    <li class="page-item active" aria-current="page"><span
                                            class="page-link">{{ i }}<span class="sr-only">(current)</span></span>
                                    </li>
                                {% elif i > communities.number|add:'-5' and i < communities.number|add:'5' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if communities.paginator.num_pages > communities.number|add:'2' %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ communities.number|add:'5' }}">&hellip;</a>
                                </li>
                            {% endif %}
                            {% if communities.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ communities.next_page_number }}">{% trans "İleri" %}</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1"
                                       aria-disabled="true">{% trans "İleri" %}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    {% for community in communities %}

        <div class="modal fade" id="islemModal{{ community.id }}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">İŞLEMLER</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                style="cursor: pointer;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <a href="{% url "services:detail-interview" community.id %}" class="btn btn-warning"
                                       target="_blank" style="width: -webkit-fill-available;">
                                        Görüşmeler
                                    </a>
                                </div>
                                {% if community_update_authority %}
                                    <div class="col-12 mt-3">
                                        <a href="#" data-toggle="modal"
                                           data-target="#updateModal{{ community.id }}"
                                           class="btn btn-info" role="button" data-title="kitty"
                                           data-id="2" style="width: -webkit-fill-available;">Düzenle</a>
                                    </div>
                                {% endif %}
                                {% if community_deletion_authority %}
                                    <div class="col-12 mt-3">
                                        <a href="#" data-toggle="modal" data-target="#exampleModal{{ community.id }}"
                                           class="btn btn-danger" role="button" data-title="kitty"
                                           data-id="2" style="width: -webkit-fill-available;">Sil</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal{{ community.id }}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Kaydı Silmek İstediğinize Emin Misiniz?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                        <a href="{% url 'services:community-delete' community.id %}" class="btn btn-primary">Sil</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal" id="updateModal{{ community.id }}" style="padding-right: 130px">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 150%">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Topluluk Düzenle</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div data-scroll="true" data-height="460">
                            <form class="form-horizontal" method="POST"
                                  action="{% url 'services:community_update' community.id %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12 col-xl-4 mt-3">
                                        <label for="add_id_full_name">Ad Soyad</label>
                                        <input type="text" id="add_id_full_name" name="add_full_name"
                                               value="{{ community.full_name }}">
                                    </div>
                                    <div class="col-12 col-xl-4 mt-3">
                                        <label for="add_id_tc">TC</label>
                                        <input type="text" id="add_id_tc" name="add_tc" value="{{ community.tc }}">
                                    </div>

                                    <div class="col-12 col-xl-4 mt-3">
                                        <label for="add_id_phone_one">Telefon 1</label>
                                        <input type="text" id="add_id_phone_one" name="add_phone_one"
                                               value="{{ community.phone_one }}">
                                    </div>
                                    <div class="col-12 col-xl-4 mt-3">
                                        <label for="add_id_phone_two">Telefon 2</label>
                                        <input type="text" id="add_id_phone_two" name="add_phone_two"
                                               value="{{ community.phone_two }}">
                                    </div>
                                    <div class="col-12 col-xl-4 mt-3">
                                        <label for="add_id_phone_three">Telefon 3</label>
                                        <input type="text" id="add_id_phone_three" name="add_phone_three"
                                               value="{{ community.phone_three }}">
                                    </div>
                                    <div class="col-12 col-xl-2 mt-3">
                                        <label for="add_id_block">Blok</label>
                                        <input type="text" id="add_id_block" disabled name="add_block"
                                               value="{{ community.block }}">
                                    </div>
                                    <div class="col-12 col-xl-2 mt-3">
                                        <label for="add_id_entrance">Giriş</label>
                                        <input type="text" id="add_id_entrance" disabled name="add_entrance"
                                               value="{{ community.entrance }}">
                                    </div>
                                    <div class="col-12 col-xl-2 mt-3">
                                        <label for="add_id_apartment">Bina</label>
                                        <input type="text" id="add_id_apartment" disabled name="add_apartment"
                                               value="{{ community.apartment }}">
                                    </div>
                                    <div class="col-12 col-xl-2 mt-3">
                                        <label for="add_id_m2">m2</label>
                                        <input type="text" id="add_id_m2" name="add_m2" disabled value="{{ community.m2 }}">
                                    </div>
                                    <div class="col-12 col-xl-2 mt-3">
                                        <label for="add_id_period">Dönem</label>
                                        <input type="text" id="add_id_period" disabled name="add_period"
                                               value="{{ community.period }}">
                                    </div>
                                    <div class="col-12 col-xl-4 mt-3">
                                        <label for="add_id_period_code">Dönem Kodu</label>
                                        <input type="text" id="add_id_period_code" disabled name="add_period_code"
                                               value="{{ community.period_code }}">
                                    </div>
                                    <div class="col-12 col-xl-6 mt-3">
                                        <label for="add_id_circuit_start">Devre Başlangıcı</label>
                                        <input type="text" id="add_id_circuit_start" name="add_circuit_start"
                                               value="{{ community.circuit_start }}">
                                    </div>
                                    <div class="col-12 col-xl-6 mt-3">
                                        <label for="add_id_circuit_finish">Devre Bitiş</label>
                                        <input type="text" id="add_id_circuit_finish" name="add_circuit_finish"
                                               value="{{ community.circuit_finish }}">
                                    </div>
                                    <div class="col-12 mt-3">
                                        <label for="add_id_note">Not</label>
                                        <textarea type="text" id="add_id_note"
                                                  name="add_note">{{ community.note }}</textarea>
                                    </div>

                                </div>
                                <button type="submit" class="btn btn-success mb-4 mt-4" style="float: right"
                                        name="add_interview">Kaydet
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
    <div class="modal" id="addModal" style="padding-right: 130px">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 150%">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Topluluk Ekle</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div data-scroll="true" data-height="460">
                        <form class="form-horizontal" method="POST"
                              action="{% url 'services:community_add' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-xl-4 mt-3">
                                    <label for="add_id_full_name">Ad Soyad</label>
                                    <input type="text" id="add_id_full_name" name="add_full_name">
                                </div>
                                <div class="col-12 col-xl-4 mt-3">
                                    <label for="add_id_tc">TC</label>
                                    <input type="text" id="add_id_tc" name="add_tc">
                                </div>
                                <div class="col-12 col-xl-4 mt-3">
                                    <label for="add_id_interview_status">Durum</label>
                                    <select id="add_id_interview_status" name="add_interview_status"
                                            class="form-control" required>
                                        <option value="">Seçiniz</option>
                                        {% for interviews_statu in interviews_statu_list %}
                                            <option value="{{ interviews_statu.id }}">{{ interviews_statu.text }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-12 col-xl-4 mt-3">
                                    <label for="add_id_phone_one">Telefon 1</label>
                                    <input type="text" id="add_id_phone_one" name="add_phone_one">
                                </div>
                                <div class="col-12 col-xl-4 mt-3">
                                    <label for="add_id_phone_two">Telefon 2</label>
                                    <input type="text" id="add_id_phone_two" name="add_phone_two">
                                </div>
                                <div class="col-12 col-xl-4 mt-3">
                                    <label for="add_id_phone_three">Telefon 3</label>
                                    <input type="text" id="add_id_phone_three" name="add_phone_three">
                                </div>
                                <div class="col-12 col-xl-2 mt-3">
                                    <label for="add_id_block">Blok</label>
                                    <input type="text" id="add_id_block" name="add_block">
                                </div>
                                <div class="col-12 col-xl-2 mt-3">
                                    <label for="add_id_entrance">Giriş</label>
                                    <input type="text" id="add_id_entrance" name="add_entrance">
                                </div>
                                <div class="col-12 col-xl-2 mt-3">
                                    <label for="add_id_apartment">Bina</label>
                                    <input type="text" id="add_id_apartment" name="add_apartment">
                                </div>
                                <div class="col-12 col-xl-2 mt-3">
                                    <label for="add_id_m2">m2</label>
                                    <input type="text" id="add_id_m2" name="add_m2">
                                </div>
                                <div class="col-12 col-xl-2 mt-3">
                                    <label for="add_id_period">Dönem</label>
                                    <input type="text" id="add_id_period" name="add_period">
                                </div>
                                <div class="col-12 col-xl-2 mt-3">
                                    <label for="add_id_period_code">Dönem Kodu</label>
                                    <input type="text" id="add_id_period_code" name="add_period_code">
                                </div>
                                <div class="col-12 col-xl-6 mt-3">
                                    <label for="add_id_circuit_start">Devre Başlangıcı</label>
                                    <input type="text" id="add_id_circuit_start" name="add_circuit_start">
                                </div>
                                <div class="col-12 col-xl-6 mt-3">
                                    <label for="add_id_circuit_finish">Devre Bitiş</label>
                                    <input type="text" id="add_id_circuit_finish" name="add_circuit_finish">
                                </div>
                                <div class="col-12 mt-3">
                                    <label for="add_id_note">Not</label>
                                    <textarea type="text" id="add_id_note" name="add_note"></textarea>
                                </div>
                                <div class="col-12 col-xl-6 mt-3">
                                    <label for="add_id_price_sales">Satış Fiyatı</label>
                                    <input type="text" id="add_id_price_sales" name="add_price_sales">
                                </div>
                                <div class="col-12 col-xl-6 mt-3">
                                    <label for="add_id_price_rent">Kira Fiyatı</label>
                                    <input type="text" id="add_id_price_rent" name="add_price_rent">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success mb-4 mt-4" style="float: right"
                                    name="add_interview">Kaydet
                            </button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block extra_script %}
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "paging": false,
            });
        });
    </script>
    <script type="text/javascript">
        $(window).on('load', function () {
            $('#islemModal' + {{ community_get_id }}).modal('show');
        });
    </script>
{% endblock extra_script %}