{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header card-default">
                    Veri Aktarımı
                </div>
                <div class="card-body">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row" style="flex-direction: column;">
                            <div class="col-10">
                                <div class="fileinput fileinput-new input-group col-md-6" data-provides="fileinput">
                                    <div class="form-control" data-trigger="fileinput">
                                        <span class="fileinput-filename"></span>
                                    </div>
                                    <span class="input-group-addon btn btn-primary btn-file ">
                                <span class="fileinput-new">Seçiniz</span>
                                <span class="fileinput-exists">Değiştir</span>
                                <input type="file" name="file-upload" placeholder="Dosya">
							</span>
                                    <a href="#" class="input-group-addon btn btn-danger  hover fileinput-exists"
                                       data-dismiss="fileinput">
                                        Sil
                                    </a>
                                </div>
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-success">Gönder</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if community_list %}
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header card-default">
                        Aktarılan Veriler
                    </div>
                    <div class="card-body">
                        <table class="table table-hover" id="myTable">
                            <thead>
                            <tr>
                                <th>Ad Soyad</th>
                                <th>Dönem Kodu</th>
                                <th>Devre Tarihi</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for community in community_list %}
                                <tr class="gradeX">
                                    <td>{{ community.full_name }}</td>
                                    <td>{{ community.period_code }}</td>
                                    <td>{{ community.circuit_start }} - {{ community.circuit_finish }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block extra_script %}

{% endblock extra_script %}