{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-default">
                    Görüşmeler
                </div>
                <div class="card-body">
                    <table class="table table-hover" id="myTable">
                        <thead>
                        <tr>
                            <th>Topluluk</th>
                            <th>Kullanıcı</th>
                            <th>Durum</th>
                            <th>Satış Fiyatı</th>
                            <th>Kira Ücreti</th>
                            <th>Not</th>
                            <th>Durum Tarihi</th>
                            {% if call_update_authority and call_deletion_authority %}
                                <th>İşlem</th>
                            {% endif %}

                        </tr>
                        </thead>
                        <tbody>
                        {% for interview in interviews_list %}
                            <tr class="gradeX">
                                <td>{{ interview.community.full_name }}</td>
                                <td>{{ interview.user }}</td>
                                <td>{{ interview.interview_status }}</td>
                                <td>{{ interview.price_sales }}</td>
                                <td>{{ interview.price_rent }}</td>
                                <td>{{ interview.note }}</td>
                                <td>{% if interview.update_at %}{{ interview.update_at }}{% else %}
                                    {{ interview.created_at }}{% endif %}</td>
                                {% if call_update_authority and call_deletion_authority %}
                                    <td>
                                        {% if call_update_authority %}
                                            <a href="#" data-toggle="modal" data-target="#UpdateModal{{ interview.id }}"
                                               class="btn btn-info">Düzenle</a>
                                        {% endif %}
                                        {% if call_deletion_authority %}
                                            <a href="#" data-toggle="modal" data-target="#DeleteModal{{ interview.id }}"
                                               class="btn btn-danger">Sil</a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    <nav class="paginationWrap">
                        <ul class="pagination justify-content-center">
                            {% if interviews_list.has_previous %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ interviews_list.previous_page_number }}">{% trans "Öncesi" %}</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1"
                                       aria-disabled="true">{% trans "Öncesi" %}</a>
                                </li>
                            {% endif %}
                            {% if interviews_list.number|add:'-2' > 1 %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ interviews_list.number|add:'-5' }}">&hellip;</a>
                                </li>
                            {% endif %}
                            {% for i in interviews_list.paginator.page_range %}
                                {% if interviews_list.number == i %}
                                    <li class="page-item active" aria-current="page"><span
                                            class="page-link">{{ i }}<span class="sr-only">(current)</span></span>
                                    </li>
                                {% elif i > interviews_list.number|add:'-5' and i < interviews_list.number|add:'5' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if interviews_list.paginator.num_pages > interviews_list.number|add:'2' %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ interviews_list.number|add:'5' }}">&hellip;</a>
                                </li>
                            {% endif %}
                            {% if interviews_list.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ interviews_list.next_page_number }}">{% trans "İleri" %}</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1"
                                       aria-disabled="true">{% trans "İleri" %}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    {% for interview in interviews_list %}
        <div class="modal" id="DeleteModal{{ interview.id }}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Kaydı Silmek İstediğinize Emin Misiniz?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                        <a href="{% url 'services:interview-delete' interview.id %}" class="btn btn-primary">Sil</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="UpdateModal{{ interview.id }}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Düzenle</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="{% url 'services:update-interview' interview.id %}">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 mt-3">
                                    <label for="add_id_interview_status">Durum</label>
                                    <select id="add_id_interview_status"
                                            name="add_interview_status_test"
                                            class="form-control" required>
                                        <option value="">Seçiniz</option>
                                        {% for interviews_statu in interviews_statu_list %}
                                            <option value="{{ interviews_statu.id }}"
                                                    {% if interview.interview_status.id == interviews_statu.id %}selected{% endif %}>{{ interviews_statu.text }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-12 col-xl-6 mt-3">
                                    <label for="add_id_price_sales">Satış Fiyatı</label>
                                    <input type="text" id="add_id_price_sales"
                                           name="add_price_sales"
                                           value="{{ interview.price_sales }}">
                                </div>
                                <div class="col-12 col-xl-6 mt-3">
                                    <label for="add_id_price_rent">Kira Fiyatı</label>
                                    <input type="text" id="add_id_price_rent"
                                           name="add_price_rent"
                                           value="{{ interview.price_rent }}">
                                </div>
                                <div class="col-12 mt-3">
                                    <label for="add_id_note">Not</label>
                                    <textarea type="text" id="add_id_note"
                                              name="add_note">{{ interview.note }}</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block extra_script %}
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "paging": false,
            });
        });
    </script>
{% endblock extra_script %}