{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-default">
                    Görüşme Durumları
                    {% if call_status_adding_authority %}
                        <a href="#" data-toggle="modal" data-target="#addModal"
                           class="btn btn-success box-shadow btn-icon btn-rounded" style="float: right;">
                            <i class="fa fa-plus"></i>
                            Yeni Kayıt
                        </a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Durum</th>
                            {% if call_status_update_authority and call_status_deletion_authority %}
                                <th>İşlem</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for statu in interviews_statu_list %}
                            <tr class="gradeX">
                                <td>#{{ statu.id }}</td>
                                <td>{{ statu.text }}</td>
                                {% if call_status_update_authority and call_status_deletion_authority %}
                                    <td>
                                        {% if call_status_update_authority %}
                                            <a data-toggle="modal" data-target="#exampleModal"
                                               class="btn btn-info">Düzenle</a>
                                        {% endif %}
                                        {% if call_status_deletion_authority %}
                                            <a href="#" data-toggle="modal" data-target="#exampleModal{{ statu.id }}"
                                               class="btn btn-danger" role="button" data-title="kitty"
                                               data-id="2">Sil</a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    {% for statu in interviews_statu_list %}
        <div class="modal fade" id="exampleModal{{ statu.id }}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Kaydı Silmek İstediğinize Emin Misiniz?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                        <a href="{% url 'services:interviews-statu-delete' statu.id %}" class="btn btn-primary">Sil</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="modal" id="addModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Durum Ekle</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div data-scroll="true" data-height="460">
                        <form class="form-horizontal" method="POST"
                              action="{% url 'services:interviews-statu-add' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 mt-3">
                                    <label for="add_id_text">Başlık</label>
                                    <input type="text" id="add_id_text" name="add_text">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success mb-4 mt-4" style="float: right"
                                    name="add_interview">Kaydet
                            </button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block extra_script %}

{% endblock extra_script %}